{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center vh-85">
        <div class="display-1 mb-3">
            500
        </div>
        <div class="lead text-center">
            Внутренняя ошибка сервера
        </div>
        <div class="text-center">
            Перейдите на <a href="/">главную страницу</a> и затем повторите свои действия в системе.
        </div>
        <div class="text-center mb-5">
            Если ошибка сохраняется, обратитесь в ОАСУП и сообщите текст ошибки.
        </div>
        <mark class="text-center">Текст ошибки: {{error}}</mark>
    </div>    
{%endblock%}