{% extends 'base.html' %}

{% block content %}

<h1>Техническая поддержка</h1>

<p class="text-muted">
    Раздел "Техническая поддержка" позволяет оставить заявку в случае неполадок с оборудованием, необходимым в работе. <br>
    В таблице на данной странице отображены отправленные Вами заявки. <br>
    Чтобы отправить заявку, нажмите на кнопку "Оставить заявку" и заполните приведенную форму.
</p>

<div class="d-flex justify-content-between align-items-end mb-2">
    <a href="{{ url_for('tech_support.tech_support') }}" class="btn btn-primary mr-2">Оставить заявку</a>
    <form action="{{url_for('tech_support.tech_requests')}}" class="d-flex justify-content">
        <div class="input-group flex-nowrap">
            <input {%if request.args.get('search')%} value="{{request.args.get('search')}}" {%endif%}type="text" id="search" name="search" class="form-control">
        </div>
        <input class="btn btn-primary ml-2 mr-2" type="submit" value="Поиск"/>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <th>Отправитель</th>
        <th>Дата создания</th>
        <th>Инв. № устройства</th>
        <th>Текст</th>
        <th>Статус</th>
        <th>Действия</th>
    </thead>
    <tbody>
    {% for message in tech_messages %}
        <tr>
            <td>{{message.user.department}}</td>
            <td>{{message.date_created.strftime('%d.%m.%Y %H:%M')}}</td>
            <td>№{{message.comp_number}}</td>
            <td>{{message.description}}</td>
            <td>
                {% if message.status_id == status.completed.value %}
                <span class="badge badge-success">Выполнено {%if message.completion_confirmed_at%}: {{message.completion_confirmed_at.strftime('%d.%m.%Y %H:%M')}} {%endif%}</span>
                {% elif message.status_id == status.in_work.value %}
                <span class="badge badge-warning">В работе</span>
                {% elif message.status_id == status.pending.value %}
                <span class="badge badge-primary">Ожидается выполнение</span>
                {% endif %}
            </td>
            <td>
                {% if message.status_id == status.pending.value and current_user.login == "205"%}
                <button id="issue-in-work-button" class="btn btn-primary btn-sm" onclick="setStatusInWork('{{message.id}}')">
                    Принять в работу
                </button>
                {%endif%}
                {% if message.status_id == status.in_work.value and current_user.login == "205"%}
                <button id="issue-in-work-button" class="btn btn-success ess btn-sm" onclick="setStatusCompleted('{{message.id}}')">
                    Завершить
                </button>
                {%endif%}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <div>
        {% if per_page > messages_count %}
        Страница {{page}} | Записи 1-{{messages_count}} из {{messages_count}}
        {%else%}
        {%if page == 1%}
        Страница {{page}} | Записи 1-{{page * per_page }} из {{messages_count}}
        {%else%}
        {%if page * per_page > messages_count%}
        Страница {{page}} | Записи {{(page-1) * per_page + 1}}-{{messages_count}} из {{messages_count}}
        {%else%}
        Страница {{page}} | Записи {{(page-1) * per_page + 1}}-{{page * per_page }} из {{messages_count}}
        {%endif%}
        {%endif%}
        {%endif%}
    </div>
    {% if messages_count != 0 %}
    <nav aria-label="paging">
        <ul class="pagination justify-content-end">

            <li class="page-item {% if page == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{url_for('tech_support.tech_requests', p=page-1, **filter_params_dict)}}">Предыдущая</a>
            </li>
            {% for page_number in tech_messages.iter_pages(right_current=2)%}
            {% if page_number == None %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            {%elif page_number == page%}
            <li class="page-item active"><a class="page-link">{{page_number}}</a></li>
            {%else %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('tech_support.tech_requests', p=page_number, **filter_params_dict)}}">{{page_number}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item {% if page == tech_messages.pages %}disabled{% endif %}">
                <a class="page-link" href="{{url_for('tech_support.tech_requests', p=page+1, **filter_params_dict)}}">Следующая</a>
            </li>
        </ul>
    </nav>
    {%endif%}
</div>

<script src="{{ url_for('static', filename='src/js/support_table.js') }}"></script>
{% endblock %}

