{% extends 'base.html' %}

{% block content %}

<h1 class="mb-5">Поступившие заявки</h1>

<table class="table table-bordered">
    <thead>
        <th>Отправитель</th>
        <th>Дата создания</th>
        <th>Инв. № устройства</th>
        <th>Текст</th>
    </thead>
    <tbody>
    {% for message in tech_messages %}
        <tr>
            <td>{{message.user.department}}</td>
            <td>{{message.date_created.strftime('%d.%m.%Y %H:%M')}}</td>
            <td>{{message.comp_number}}</td>
            <td>{{message.description}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}