body{
    margin: 10px;
}
/* Добавьте свои стили для красивой таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
}

/* style.css */

/* Стили для всей строки таблицы */
.table-bordered > tbody > tr.table-secondary {
    background-color: #e9ecef !important; /* Серый фон для недействительных задач */
}

.table-bordered > tbody > tr.table-danger {
    background-color: #f5c6cb !important; /* Красный фон для просроченных задач */
}

/* Стили для ячеек таблицы (по желанию) */
.table-bordered > tbody > tr.table-secondary > td {
    /* Дополнительные стили для ячеек недействительных задач */
}

.table-bordered > tbody > tr.table-danger > td {
    /* Дополнительные стили для ячеек просроченных задач */
}

/* Удаляем чередующиеся цвета строк Bootstrap */
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent; 
}


