body{
    margin: 10px;
}
/* Добавьте свои стили для красивой таблицы */
table {
    width: 100%;
    border-collapse:collapse;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.primary-th {
    /*background-color: #4CAF50;*/
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
}

/* style.css */

/* Стили для всей строки таблицы */
.table-bordered > tbody > tr.table-secondary {
    background-color: #e9ecef !important; /* Серый фон для недействительных задач */
}

.table-bordered > tbody > tr.table-danger {
    background-color: #f5c6cb !important; /* Красный фон для просроченных задач */
}

/* Стили для ячеек таблицы (по желанию) */
.table-bordered > tbody > tr.table-secondary > td {
    /* Дополнительные стили для ячеек недействительных задач */
}

.table-bordered > tbody > tr.table-danger > td {
    /* Дополнительные стили для ячеек просроченных задач */
}

/* Удаляем чередующиеся цвета строк Bootstrap */
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent; 
}

/*для форм на /add и /add_memo*/
.upload-file-input input[type=file]::file-selector-button { /*чобы скрыть дефолтную кнопку "Обзор"*/
    display: none;
}

.upload-file-input:hover label { /*ховер на лейбл*/
    background-color: #dfdfe4;
    cursor: pointer;
}

.upload-file-input input[type=file] { /*чтобы кнопка загрузки была одним целым с самой формой*/
    margin-left: -2px !important;
}

.archive{
    background-color:rgb(106, 97, 172);
    color: white; 
}

button.archive:hover{
    background-color:rgb(94, 86, 153);
    color: white; 
}
  /* Стиль для иконки отображения пароля */
.password-toggle-icon {
    cursor: pointer; 
    float: right; 
    margin-left: -25px;  
    margin-top: -26px; 
    right: 10px; 
    position:relative; 
    z-index: 2;
}

/* Стиль для сокращения длинной ссылки */
.long-href {
    display: inline-block;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}


