{% extends 'base.html' %}

{% block content %}
<h1>Добавить задачу</h1>

<form id="addTaskForm" method="POST" enctype="multipart/form-data">
    <div id="selectpicker" class="form-group">
        <label for="executor">Исполнитель:</label>
        <select class="selectpicker show-tick form-control" id="executor" name="executor" data-live-search="true" data-actions-box="true" multiple onchange="updateSelectedExecutors()">
            <!--<option value="" selected>Не выбрано</option> {##}-->
            <!--<option value="all">Всем</option>-->
            {% for executor in executors %}
                {% if executor.id != current_user.id %}
                    <option value="{{ executor.id }}">{{ executor.department }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div id="selected-executors" class="mt-2"></div>
    </div>

    <div class="form-group">
        <label for="date_created">Дата создания:</label>
        <input type="date" class="form-control" id="date_created" name="date_created" value="{{ datetime.now().strftime('%Y-%m-%d') }}" required>
    </div>

    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" id="is_бессрочно" name="is_бессрочно" onchange="toggleDeadline()">
        <label class="form-check-label" for="is_бессрочно">Бессрочно</label>
    </div>
    <div class="form-group" id="deadline-field">
        <label for="deadline">Срок:</label>
        <input type="date" class="form-control" id="deadline" name="deadline" value="" required>
    </div>

    <div class="form-group">
        <label for="description">Описание:</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="is_valid" name="is_valid" checked>
        <label class="form-check-label" for="is_valid">Действителен</label>
    </div>
     <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="for_review" name="for_review">
        <label class="form-check-label" for="for_review">Для ознакомления</label>
    </div>
    <div class="input-group mb-3 upload-file-input">
        <label for="file" class="input-group-text">Прикрепить файл:</label>
       <input type="file" class="form-control" id="file" name="file" aria-describedby="inputGroupFile" aria-label="Обзор">
   </div>

    <input type="hidden" id="sn" name="sn" value="">
    <input type="hidden" id="p" name="p" value="">

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

<script src="{{ url_for('static' , filename = 'src/js/add.js') }}"></script>

<style>
    .small-close {
        font-size: 12px;
        line-height: 1;
        padding: 2px 4px;
    }

</style>
{% endblock %}
