{% extends 'base.html' %}

{% block content %}
    <h1>Редактировать задачу</h1>

    <form id="editTaskForm" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="executor">Исполнитель:</label>
            <select class="form-control" id="executor" name="executor">
                {% for executor in executors %}
                    <option value="{{ executor.id }}" {% if executor.id == task.executor_id %}selected{% endif %}>
                        {{ executor.department }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="date_created">Дата создания:</label>
            <input type="date" class="form-control" id="date_created" name="date_created"
                   value="{{ task.date_created.strftime('%Y-%m-%d') }}" disabled>
        </div>
        <div id = "deadlineField" class="form-group">
            <label for="deadline">Срок:</label>
            <input type="date" class="form-control" id="deadline" name="deadline"
                   value="{% if task.deadline %}{{ task.deadline.strftime('%Y-%m-%d') }}{% endif %}">
        </div>
        <div class="form-group form-check">
            {%if current_user.is_admin%}
            <input type="checkbox" class="form-check-input" id="is_бессрочно" name="is_бессрочно" {% if task.is_бессрочно %}checked{% endif %} onchange="toggleDeadline()">
            {%else%}
            <input type="checkbox" class="form-check-input" id="is_бессрочно" name="is_бессрочно" disabled checked>
            {%endif%}
            <label class="form-check-label" for="is_бессрочно">Бессрочно</label>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea class="form-control" id="description" name="description"
                      required>{{ task.description }}</textarea>
        </div>
        <!--важно оставить возможность прикреплять файлы при редактировании-->
        <div id="dropZone" class="drop-zone">
            <p class="text-muted m-0">Нажмите, чтобы загрузить файл, либо перетащите их</p>
            <p class="text-muted m-0">Подсказка: удерживая клавишу Ctrl, можно выбрать несколько файлов</p>
            <input  type="file" id="fileInput" multiple class="hidden">
        </div>
        <ul id="fileList"></ul>
        <div class="input-group mb-3 upload-file-input">
            <div class="text-muted" style="font-size:small">Если Вы желаете оставить файл прежним, то оставьте данное поле пустым</div>
       </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="is_valid" name="is_valid"
                   {% if task.is_valid %}checked{% endif %}>
            <label class="form-check-label" for="is_valid">Действителен</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="extend_deadline" name="extend_deadline">
            <label class="form-check-label" for="extend_deadline">Продлить срок</label>
        </div>
        <div class="form-group" id="extended_deadline_field" style="display:none;">
            <label for="extended_deadline">Продлить до:</label>
            <input type="date" class="form-control" id="extended_deadline" name="extended_deadline" value="{% if task.extended_deadline %}{{ task.extended_deadline.strftime('%Y-%m-%d') }}{% endif %}">
        </div>

        <input type="hidden" id="sn" name="sn" value="">
        <input type="hidden" id="p" name="p" value="">
        
        
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <script src="{{url_for('static', filename = 'src/js/validation.js')}}"></script>
    <script src="{{url_for('static', filename = 'src/js/fileUpload.js')}}"></script>
    <script src="{{url_for('static', filename = 'src/js/edit.js')}}"></script>
    <script>
        
        // Для отображения поля при загрузке, если задача уже продлена
        window.addEventListener('load', function() {
            {% if task.extended_deadline %}
            document.getElementById('extend_deadline').checked = true;
            document.getElementById('extended_deadline_field').style.display = 'block';
            {% endif %}

            toggleDeadline();
        });

    </script>
{% endblock %}