{% extends 'base.html' %}

{% block content %}
<h1>Список задач</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
    Фильтрация
</button>
{% if current_user.is_admin %}
<a href="{{ url_for('add') }}" class="btn btn-success">Добавить задачу</a>
{% endif %}

<a href="{{ url_for('add_memo') }}" class="btn btn-success">Создать служебную записку</a>
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Фильтрация задач</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="GET" action="{{ url_for('index') }}">
                    <div class="form-group">
                        <label for="executorFilter">Исполнитель:</label>
                        <select class="form-control" id="executorFilter" name="executor">
                            <option value="">Все</option>
                            {% for executor in executors %}
                                <option value="{{ executor.department }}" {% if executor.department == request.args.get('executor') %}selected{% endif %}>{{ executor.department }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="creatorFilter">Отправитель:</label>
                        <select class="form-control" id="creatorFilter" name="creator">
                            <option value="">Все</option>
                            {% for creator_id, department in creator_department.items() %}
                                <option value="{{ department }}" {% if department == request.args.get('creator') %}selected{% endif %}>{{ department }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="monthFilter">Месяц:</label>
                        <input type="month" class="form-control" id="monthFilter" name="month" value="{{ request.args.get('month') }}">
                    </div>
                    <div class="form-group">
                        <label for="dateFilter">Дата:</label>
                        <input type="date" class="form-control" id="dateFilter" name="date" value="{{ request.args.get('date') }}">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yes" id="overdueFilter" name="overdue"  {% if request.args.get('overdue') %}checked{% endif %}>
                        <label class="form-check-label" for="overdueFilter">
                            Просроченные
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="yes" id="completedFilter" name="completed" {% if request.args.get('completed') %}checked{% endif %}>
                        <label class="form-check-label" for="completedFilter">
                            Выполненные
                        </label>
                    </div>


                    <button type="submit" class="btn btn-primary">Применить фильтр</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Исполнитель</th>
            <th>Отправитель</th>
            <th>Дата создания</th>
            <th>Срок</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="
        {% if task.completion_confirmed and task.deadline_for_check < date.today() %}table-warning
        {% elif task.completion_confirmed %}table-success
        {% elif not task.is_valid %}table-secondary
        {% elif task.deadline_for_check < date.today() %}table-danger 
        {% endif %}
    ">
            <td>{{ task.executor.department }}</td>
            <td>{{ creator_department.get(task.creator_id) }}</td>
            <td>
                {% if task.date_created %}
                {{ task.date_created.strftime('%d.%m.%Y') }}
                {% else %}
                -
                {% endif %}
            </td>
            <td>
                {% if task.is_бессрочно %}
                Бессрочно
                {% elif task.deadline %} 
                {{ task.deadline.strftime('%d.%m.%Y') }}
                {% if task.extended_deadline %}
<br><small class="text-muted">Продлена до: {{ task.extended_deadline.strftime('%d.%m.%Y') }}</small>
{% endif %}
                {% else %}
                -
                {% endif %}
            </td>
            <td>{{ task.description }}
                {% if task.creator_file %}
                <p><a href="{{ url_for('uploaded_file', filename=task.creator_file) }}" target="_blank"
                        download="{{ task.creator_file.split('/')[-1] }}">{{ task.creator_file.split('/')[-1] }}</a>
                </p>
                {% endif %}
            </td>
            <td>
                {% if task.completion_confirmed %}
                <span class="badge badge-success">Выполнено
                    {% if task.deadline_for_check < date.today() %} <br><small class="badge-warning">просрочена на ({{ (task.completion_confirmed_at.date() - task.deadline_for_check).days }} дн.)</small>
                       -{{ calculate_penalty(task)|int }}%
                    {% endif %}
                </span>
                {% if task.completion_confirmed_at %}
                <br>
                <small class="text-muted">Подтверждено:
                    {{ task.completion_confirmed_at.strftime('%d.%m.%Y %H:%M') }}</small>
                {% endif %}
                {% elif not task.is_valid %}
                <span class="badge badge-secondary">Не действительна</span>
                {% elif task.completion_note and not task.completion_confirmed %}
                <span class="badge badge-info">На проверке</span>
                {% elif task.is_overdue() %}
                <span class="badge badge-danger">Просрочена</span>
                {% else %}
                <span class="badge badge-warning">В работе</span>
                {% endif %}

                {% if task.admin_note %}
                <br>
                <span class="badge badge-info">Заметка админа: {{ task.admin_note }}</span>
                {% endif %}
            </td>
            <td>
                {% if current_user.is_admin %}
                <div class="btn-group" role="group">
                    <a href="{{ url_for('edit', task_id=task.id) }}" class="btn btn-primary btn-sm" data-toggle="tooltip"
                        title="Редактировать">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <form method="POST" action="{{ url_for('delete', task_id=task.id) }}"
                        onsubmit="return confirm('Вы уверены, что хотите удалить эту задачу?');"
                        class="d-inline-block">
                        <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Удалить">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
                {% endif %}

                {% if not task.completion_confirmed %}
                {% if current_user.id == task.executor_id and task.is_valid and not task.completion_note and not task.for_review %}
                <a href="{{ url_for('complete', task_id=task.id) }}" class="btn btn-success btn-sm">Выполнить</a>
                {% endif %}

                {% if task.for_review and current_user.id == task.executor_id %}
                <a href="{{ url_for('review', task_id=task.id) }}" class="btn btn-secondary btn-sm"
                    data-toggle="modal" data-target="#reviewModal-{{ task.id }}">
                    Ознакомиться
                </a>
                <div class="modal fade" id="reviewModal-{{ task.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="reviewModalLabel-{{ task.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reviewModalLabel-{{ task.id }}">Задача {{ task.id }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Описание задачи: {{ task.description }}</p>
                                {% if task.creator_file %}
                                <p>
                                    <p><a href="{{ url_for('uploaded_file', filename=task.creator_file) }}"
                                            target="_blank"
                                            download="{{ task.creator_file.split('/')[-1] }}">{{ task.creator_file.split('/')[-1] }}</a>
                                    </p>
                                </p>

                                {% endif %}
                                <form method="POST" action="{{ url_for('review', task_id=task.id) }}">
                                    <button type="submit" class="btn btn-primary">Ознакомлен</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}

                {% if current_user.is_admin and task.completion_note and not task.completion_confirmed %}
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                    data-target="#confirmModal{{ task.id }}">
                    Подтвердить выполнение
                </button>

                <div class="modal fade" id="confirmModal{{ task.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="confirmModalLabel{{ task.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel{{ task.id }}">Подтверждение выполнения
                                    задачи
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Задача: {{ task.description }}</p>
                                <p>Заметка исполнителя: {{ task.completion_note }}</p>
                                {% if task.attached_file %}
                                <p>Прикрепленный файл: <a
                                        href="{{ url_for('uploaded_file', filename=task.attached_file) }}"
                                        target="_blank" download="{{ task.attached_file.split('/')[-1] }}">{{ task.attached_file.split('/')[-1] }}</a>
                                </p>
                                {% endif %}
                                <form method="POST" action="{{ url_for('confirm_task', task_id=task.id) }}">
                                    <div class="form-group">
                                        <label for="admin_note">Заметка администратора:</label>
                                        <textarea class="form-control" id="admin_note" name="admin_note"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success">Подтвердить</button>
                                </form>
                                <form method="POST" action="{{ url_for('reject_task', task_id=task.id) }}">
                                    <div class="form-group">
                                        <label for="admin_note">Причина отклонения:</label>
                                        <textarea class="form-control" id="admin_note" name="admin_note"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Отклонить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}