{% extends 'base.html' %}

{% block content %}
<h1>Добавить пользователя</h1>
<form method="POST">
    <div class="form-group">
        <label for="department">Служба:</label>
        <input type="text" class="form-control" id="department" name="department" required maxlength="255">
    </div>
    <div class="form-group">
        <label for="login">Логин:</label>
        <input type="text" class="form-control" id="login" name="login" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <i class="fa-regular fa-eye password-toggle-icon" id="passwordToggle"></i>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
        <label class="form-check-label" for="is_admin">Администратор</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="is_deputy" name="is_deputy">
        <label class="form-check-label" for="is_deputy">Заместитель</label>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}

{%block scripts%}
<script src="{{url_for('static', filename = 'src/js/passwordToggle.js')}}"></script>
{%endblock%}