{% extends 'base.html'%}

{% block content%}

<h1>Архив задач</h1>
<p class="text-muted mb-0">
    Задачи со статусами "Ознакомлен", "Выполнено", "Выполнено, просрочено на (х) дней", "Недействительно", после получения соответствующего статуса по истечении трех дней попадают в архив.
</p>
<p class="text-muted">
    Задачи, перемещенные в архив, больше не будут отображаться на странице активных задач, а также будут доступны только для чтения <br/>(т.е их нельзя редактировать или удалить, а также изменять их статус).
</p>

<div class="d-flex mb-2 justify-content-between">
    <button type="button" class="btn archive mr-2" data-toggle="modal" data-target="#filterModal">
        Фильтрация
    </button>
    <!--Фильтрация по dходящиv и исходящим задачам-->
    <select id="select-task-sender" class="selectpicker show-tick my-2">
        <option value="in">Входящие</option>
        <option value="out">Исходящие</option>
        <option value="all">Все</option>
    </select>
</div>

<!--модалка на фильтрацию-->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true"> 
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Фильтрация задач</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="GET" id="filterForm" action="{{ url_for('core.archived', p=1, **filter_params_dict) }}">
                    <div class="form-group">
                        <label for="executorFilter">Исполнитель:</label>
                        <select class="form-control" id="executorFilter" name="executor">
                            <option value="">Все</option>
                            {% for executor in executors %}
                                <option value="{{ executor.department }}" {% if executor.department == request.args.get('executor') %}selected{% endif %}>{{ executor.department }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="creatorFilter">Отправитель:</label>
                        <select class="form-control" id="creatorFilter" name="creator">
                            <option value="">Все</option>
                            {% for executor in executors %}
                                <option value="{{ executor.department }}" {% if executor.department == request.args.get('creator') %}selected{% endif %}>{{ executor.department }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="monthFilter">Месяц <span class="text-muted">(формат - "год-месяц")</span>: </label>
                        <input type="month" class="form-control" id="monthFilter" name="month" {% if request.args.get('month') %}value="{{ request.args.get('month') }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="dateFilter">Дата создания:</label>
                        <input type="date" class="form-control" id="dateFilter" name="date" value="{{ request.args.get('date') }}">
                    </div>
                    <div class="mb-4">
                        <div class="form-group">
                            <label for="statusFilter">Статус:</label>
                            <select id="statusFilter" name="status" class="form-control">
                                <option value="">Все</option>
                                {%for value, inner_text in status_dict.items()%}
                                <option value="{{value}}" {% if value == request.args.get('status') %}selected{% endif %}>{{inner_text}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <input type="hidden" id="hiddenSender" name="sn" value="">
                    </div>
                    <div class="d-flex mb-4">
                        <div class="form-group mr-2">
                            <label for="description">Номенклатура:</label>
                            <select id="nm-select" name="nm-select" class="w-100 form-control">
                                <option value="">Все</option>
                                {%for nm in nomenclature %}
                                {%if nm.subtype%}
                                <option value="{{nm.id}}" {% if nm.id|string==request.args.get('nm-select') %}selected{% endif %}>
                                    {{nm.doctype.name + ' (' + nm.subtype.name + ')'}}</option>
                                {%else%}
                                <option value="{{nm.id}}" {% if nm.id|string==request.args.get('nm-select') %}selected{% endif %}>
                                    {{nm.doctype.name}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dn">№ документа</label>
                            <input type="text" id="doc-number-input" class="form-control" name="dn" type="text" 
                            {% if request.args.get('dn') %} value="{{ request.args.get('dn') }}" {%elif not request.args.get('dn') and not request.args.get('nm-select')%} disabled {% endif %} value=''>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button id="submitFilterFormButton" type="submit" class="btn archive">Применить фильтр</button>
                        <a id="clearFilterHref" class="text-muted">Очистить фильтр</a>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>


<!--таблица с задачами-->
<table class="table rounded-pill">
    <thead>
        <tr>
            <th scope="col">Исполнитель</th>
            <th scope="col">Отправитель</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Срок</th>
            <th scope="col">Описание</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for task in data %}
        <tr>
            <td>
                {{task.executor.department}}
                {% if task.employeeId %}
                <div class="text-muted font-italic" style="font-size:smaller">
                    {{ "Отв. лицо: " + task.executive.surname + ' ' + task.executive.name[0] + "." + task.executive.patronymic[0] + "." }}
                </div>     
                {%endif%}
            </td>

            <td>{{task.creator.department}}</td>

            <td>
                {% if task.date_created %}
                {% if task.date_created.time() == time.fromisoformat('00:00:00') %}
                <div>{{ task.date_created.strftime('%d.%m.%Y') }}</div>
                {% else %}
                <div>{{ task.date_created.strftime('%d.%m.%Y %H:%M') }}</div>
                {%endif%}
                {% else %}
                -
                {% endif %}

                {% if task.edit_datetime %}
                    <div class="text-muted font-italic" style="font-size:smaller">Отредактировано: {{task.edit_datetime.strftime('%d.%m.%Y %H:%M')}}</div>
                {%endif%}
            </td>
            <td>
                {% if task.deadline%}
                <div>{{ task.deadline.strftime('%d.%m.%Y') }}</div>
                {% if task.extended_deadline %}
                <div class="text-muted font-italic" style="font-size:smaller">Продлена до: {{
                    task.extended_deadline.strftime('%d.%m.%Y') }}</div>
                {% endif %}
                {% else %}
                <div>Бессрочно</div>
                {% endif %}
            </td>

            <td>
                {{task.description}}
                {% if task.creator_file %}
                {%for file in task.creator_files%}
                <div><a title="{{ unquote(file.split('/')[-1]) }}" class="long-href" href="{{ url_for('core.uploaded_file', filename=file) }}" target="_blank">{{ unquote(file.split('/')[-1]) }}</a>
                </div>
                {%endfor%}
                {%endif%}
                {% if task.docnum %}
                <br/>
                <br/>
                <div class="text-muted font-italic">
                    {{ 'Номенклатурный тип: '}}
                    {%if task.doctype.subtype%}
                    {{task.doctype.doctype.name + ' (' + task.doctype.subtype.name + ')'}}
                    {%else%}
                    {{task.doctype.doctype.name}}
                    {%endif%}
                    {{ ' №' + task.docnum|string }}
                </div>
                {% endif %}
            </td>
            <td>
                <div>
                    {% if task.status_id == status.reviewed.value %}
                    <span class="badge badge-success">Ознакомлен</span>
                    {% elif task.status_id == status.complete_delayed.value %}
                    <span class="badge badge-warning">Выполнено, просрочено на ({{ (task.completion_confirmed_at.date() -
                        task.deadline_for_check).days }} дн.)</span>
                    {% elif task.status_id == status.completed.value %}
                    <span class="badge badge-success">Выполнено</span>
                    {% elif task.status_id == status.invalid.value %}
                    <span class="badge badge-secondary">Недействительно</span>
                    {% elif task.status_id == status.at_check.value %}
                    <span class="badge badge-info">На проверке</span>
                    {% elif task.status_id == status.delayed.value %}
                    <span class="badge badge-danger">Просрочено</span>
                    {% elif task.status_id == status.in_work.value %}
                    <span class="badge badge-warning">В работе</span>
                    {% elif task.status_id == status.pending.value %}
                    <span class="badge badge-primary">Ожидается выполнение</span>
                    {% endif %}
                </div>
            
                {% if task.admin_note %}
                <br>
                <span class="badge badge-info">Заметка админа: {{ task.admin_note }}</span>
                {% endif %}
                <span class="badge archive p-1 my-0 mx-auto">Архивировано</span>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<!--пагинация-->
<div class="d-flex justify-content-between">
    <div>
        {% if per_page > task_count %}
        Страница {{page}} | Записи 1-{{task_count}} из {{task_count}}
        {%else%}
        {%if page == 1%}
        Страница {{page}} | Записи 1-{{page * per_page }} из {{task_count}}
        {%else%}
        {%if page * per_page > task_count%}
        Страница {{page}} | Записи {{(page-1) * per_page + 1}}-{{task_count}} из {{task_count}}
        {%else%}
        Страница {{page}} | Записи {{(page-1) * per_page + 1}}-{{page * per_page }} из {{task_count}}
        {%endif%}
        {%endif%}
        {%endif%}
    </div>
    {% if task_count != 0 %}
    <nav aria-label="paging">
        <ul class="pagination justify-content-end">

            <li class="page-item {% if page == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{url_for('core.archived', p=page-1, **filter_params_dict)}}">Предыдущая</a>
            </li>
            {% for page_number in data.iter_pages(right_current=2)%}
            {% if page_number == None %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            {%elif page_number == page%}
            <li class="page-item active"><a class="page-link">{{page_number}}</a></li>
            {%else %}
            <li class="page-item"><a class="page-link" href="{{url_for('core.archived', p=page_number, **filter_params_dict)}}">{{page_number}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item {% if page == data.pages %}disabled{% endif %}">
                <a class="page-link" href="{{url_for('core.archived', p=page+1, **filter_params_dict)}}">Следующая</a>
            </li>
        </ul>
    </nav>
    {%endif%}
</div>

<script src="{{ url_for('static', filename='src/js/index.js')}}"></script>
{%endblock%}

