{% extends 'base.html' %}

{% block content %}
<h1>Отметить задачу как выполненную</h1>

<form method="POST" enctype="multipart/form-data" id="completeForm"> 
    <div class="form-group">
        <label for="completion_note">Заметка о выполнении:</label>
        <textarea class="form-control" id="completion_note" name="completion_note" required></textarea>
    </div>
    <div id="dropZone" class="drop-zone">
        <p class="text-muted m-0">Нажмите, чтобы загрузить файл, либо перетащите их</p>
        <p class="text-muted m-0">Подсказка: удерживая клавишу Ctrl, можно выбрать несколько файлов</p>
        <input type="file" id="fileInput" multiple class="hidden">
    </div>
    <ul id="fileList"></ul>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}

{%block scripts%}
<script src="{{url_for('static', filename = 'src/js/fileUpload.js')}}"></script>
<script>
    const completeForm = document.getElementById('completeForm');
    const dropZone = document.getElementById('dropZone');
    const fileInput = document.getElementById('fileInput');
    const fileList = document.getElementById('fileList');
    let files  = [];

    addUploadEventListeners(fileInput, dropZone);

    completeForm.addEventListener('submit', (e) => {
        e.preventDefault();
        submitForm();
    });

    function submitForm(){
        let url = document.location.href;
        let formData = new FormData(completeForm);

        files.forEach(file => {
            formData.append('files', file);
        });

        fetch(url, {
            method: "POST",
            body: formData,
        })
        .then(() => {
                document.location.replace(document.referrer);
        });
    }
</script>
{%endblock%}