<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" nonce="{{ nonce }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" nonce="{{ nonce }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" nonce="{{ nonce }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" nonce="{{ nonce }}">

    <title>Задачи САЗ</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex align-items-center">
            <h2><a class="navbar-brand" href="{{url_for('core.index', sn='in', p = 1)}}">Задачи САЗ</a></h2>
            <div><em class="text-muted" style="font-size:small">{{current_user.department}}</em></div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item" id="taskLink">
                    <a class="nav-link" href="{{ url_for('core.index', sn='in', p=1) }}">Задачи</a>
                </li>
                <li class="nav-item dropdown" id="ataskLink">
                    <a class="nav-link dropdown-toggle" id="archiveDropdown"  role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">Архив</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('core.archived', sn='in', p=1) }}" class="dropdown-item">Задачи</a></li>
                        <li><a href="{{url_for('tech_support.archived_issues', p=1)}}" class="dropdown-item">Заявки на техподдержку</a></li>
                    </ul>
                </li>
                {% if current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.users') }}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.reports') }}">Просрочки</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tech_support.tech_requests') }}">Тех. поддержка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.change_password') }}">Изменить пароль</a>
                </li>
                <li class="nav-item">
                    <a id="logoutLink" class="nav-link" href="{{ url_for('auth.logout') }}">Выход</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="w-75 mt-4 mx-auto">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
            <button style="margin-top: auto; margin-bottom: auto;" type="button" class="close" data-dismiss="alert"><i class="fa-solid fa-xmark"></i></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename='js/defaults-ru_RU.js') }}"></script>

</body>



<script>

    const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
    const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl));


    //этот костыль решает проблему не-скрытия выпадающего меню в заглавной панели
    //вероятно проблема где-то в пакетах в js однако иного решения на данный момент не нашлось
    document.addEventListener('click', (e) => {
        const dropdownWrapper = document.querySelector('.dropdown.show');
        const dropdownMenu = document.querySelector('.dropdown-menu.show');
        const toggle = document.querySelector('.dropdown-toggle');
        if (dropdownWrapper && !dropdownMenu.contains(event.target) && !toggle.contains(event.target)){
            dropdownMenu.classList.remove('show');
            dropdownWrapper.classList.remove('show');
            toggle.setAttribute('aria-expanded', 'false');
        }
    });

    let logoutLink = document.getElementById("logoutLink");
    let taskLink = document.getElementById('taskLink');
    let archTaskLink = document.getElementById('ataskLink');


    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);

    logoutLink && logoutLink.addEventListener('click', () => {
        sessionStorage.clear();
    });

    logoutLink && taskLink.addEventListener('click', () => {
        sessionStorage.clear();
    });

    logoutLink && archTaskLink.addEventListener('click', () => {
        sessionStorage.clear();
    });
</script>

</html>